// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$lima: #d4d700;
$green: #b5c625;
$verde: #ff9900;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: #ff9900;
$link: $green;
$info: $green;
$success: $green;
$warning: $green;
$danger: $green;
$dark: $green;
$text: $green;
$link: $green;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";