@charset "utf-8";
@import 'bulma';
@import '~@creativebulma/bulma-collapsible';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-item img {
  max-height: none;
  width: 200px;
}
.hero .title {
  margin-top: 100px;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparent;
}
.footer h2{
  color: antiquewhite;
  font-weight: 600;
}
.my-icon {
  color: #00b400;
  width: 50px;
  height: 50px;
  margin: 20px;
}
.linkBok {
  display: block;
  padding: 10px;
  transition: 0.3s all;
}
.linkBok:hover {
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 0px 5px #00000010;
}
.banner {
  width: 100vw;
}
.banner img {
  width: auto;
}
.navbar-item:hover {
  color: #fff !important;
}