@charset "utf-8";
@import 'bulma/bulma';
@import "./bulma.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-item img {
  max-height: none;
  width: 200px;
}
.hero {
  background-color: #d9ffd9;
}
.hero .title {
  margin-top: 100px;
}
.is-dark {
  background-color: rgb(26, 26, 26);
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparent;
}
.footer h2{
  color: antiquewhite;
  font-weight: 600;

}